<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <router-link class="navbar-brand" :to="{name: 'home'}"><img src="css/img/logo1.png" style="height: 50px; width: 150px; object-fit: cover; overflow: hidden" ></router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" v-if="auth">
                    <li class="nav-item">
                        <router-link :to="{name: 'home'}" class="nav-link text-warning">Menu</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link text-warning" :to="{name: 'category-list' }">Kategori Produk</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link text-warning" :to="{name: 'product-list' }">List Produk</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link text-warning" :to="{name: 'dashboard' }">Dashboard</router-link>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto" v-else>
                    <li class="nav-item">
                        <router-link class="nav-link text-warning" :to="{name: 'login' }">Login</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link text-warning" :to="{name: 'signup' }">Signup</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    methods: {
    },
    computed: {
        auth(){
            return this.$store.getters.getAuthenticated;
        }
    }
}
</script>

<style>

</style>
