<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card border-warning mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center ">
                        <h5>Tambah Kategori</h5>
                        <router-link :to="{name: 'category-list'}" class="btn btn-primary">List Kategori</router-link>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 offset-3">
                                <form @submit.prevent="createCategory">
                                    <div class="form-group">
                                        <label for="">Nama Kategori</label>
                                        <input type="text" v-model="categoryForm.name" class="form-control" name="name" placeholder="nama kategori" :class="{ 'is-invalid': categoryForm.errors.has('name') }">
                                        <has-error :form="categoryForm" field="name"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Tambah</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Form } from 'vform'

export default {
    data(){
        return {
            categoryForm: new Form({
                name: '',
            }),
        }
    },
    methods: {
        createCategory(){
            this.categoryForm.post('/api/category').then(({ data }) => {
                this.categoryForm.name = '';

                this.$toast.success({
                    title:'Success!',
                    message:'Category created successfully.'
                })

            })
        }
    }
}
</script>

<style>

</style>